<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" th:href="@{/lib/elementui/lib/theme-default/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/common/index.css}"/>

    <script th:src="@{/lib/vue/vue.js}"></script>
    <script th:src="@{/lib/vue/vue-resource.min.js}"></script>
    <script th:src="@{/lib/vue/vue-router.js}"></script>
    <script th:src="@{/lib/elementui/lib/index.js}"></script>
    <script th:src="@{/lib/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/common/util/czy.vue.util.js}"></script>
    <script th:src="@{/lib/czy/pageTable.js}"></script>
</head>

</html>